@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* variables */
:root {
  /* typography */
  --sc-font: 'Inter', sans-serif;
  --sc-font-mono: monospace;
  /* colors */
  --sc-primary-0: #3C4BD2;
  --sc-primary-1: #27339E;
  --sc-primary-2: #151C5E;
  --sc-secondary-0: #7E3CD2;
  --sc-secondary-1: #6128AA;
  --sc-secondary-2: #3A1866;
  --sc-danger-0: #C02A2A;
  --sc-danger-1: #A52020;
  --sc-danger-2: #791212;
  --sc-warning-0: #D18226;
  --sc-warning-1: #B16B1A;
  --sc-warning-2: #663E10;
  --sc-success-0: #47B535;
  --sc-success-1: #308A21;
  --sc-success-2: #17570D;
  --sc-light-0: #ECEDF4;
  --sc-light-1: #E3E4ED;
  --sc-light-2: #D3D3E2;
  --sc-light-3: #B2B5C9;
  --sc-dark-0: #202023;
  --sc-dark-1: #26262F;
  --sc-dark-2: #323244;
  --sc-dark-3: #3A3A5A;
  --sc-color-red: #F23434;
  --sc-color-pink: #F349AF;
  --sc-color-purple: #BD40F8;
  --sc-color-blue: #316FE8;
  --sc-color-turquoise: #1AC3A5;
  --sc-color-lime: #A3D43A;
  --sc-color-yellow: #F1C422;
  --sc-color-orange: #EB6E39;
  --sc-gradient-0: linear-gradient(90deg, #3C4BD2 0%, #7E3CD2 100%);
  --sc-gradient-1: linear-gradient(90deg, #27339E 0%, #6128AA 100%);
  --sc-gradient-2: linear-gradient(90deg, #151C5E 0%, #3A1866 100%);
}

/* typography */
.sc-text-hero {
  font-size: 42px;
  font-weight: 800;
  opacity: 0.95;
}

.sc-text-title {
  font-size: 32px;
  font-weight: 700;
  opacity: 0.9;
}

.sc-text-subtitle {
  font-size: 24px;
  font-weight: 500;
  opacity: 0.85;
}

.sc-text-caption {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
}

.sc-text-body {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

.sc-text-muted {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
}

/* core config */
body {
  font-family: var(--sc-font);
}

/* layout */
.sc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.sc-container.sc-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sc-container.sc-top-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sc-container.sc-bottom-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sc-container.sc-top-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sc-container.sc-bottom-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sc-container.sc-top-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sc-container.sc-bottom-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sc-container.sc-center-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sc-container.sc-center-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sc-fluid {
  width: 100%;
}

.sc-grid {
  display: -ms-grid;
  display: grid;
}

.sc-grid.centered div {
  margin: auto;
}

.sc-grid.c-2 {
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.sc-grid.c-3 {
  -ms-grid-columns: 33.33% 33.34% 33.33%;
      grid-template-columns: 33.33% 33.34% 33.33%;
}

.sc-grid.c-4 {
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.sc-grid.c-5 {
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
}

.sc-table {
  display: table;
}

.sc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.sc-row div, .sc-row a, .sc-row img {
  margin: 0 8px;
}

.sc-row div:first-of-type {
  margin-left: 0;
}

.sc-row div:last-of-type {
  margin-right: 0;
}

.sc-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sc-column div, .sc-column a, .sc-column img {
  margin: 8px 0;
}

.sc-column div:first-of-type {
  margin-top: 0;
}

.sc-column div:last-of-type {
  margin-bottom: 0;
}

.sc-br-8 {
  height: 8px;
}

.sc-br-16 {
  height: 16px;
}

.sc-br-24 {
  height: 24px;
}

.sc-br-32 {
  height: 32px;
}

.sc-br-40 {
  height: 40px;
}

/* core componenets */
.sc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  border-radius: 4px;
  background-color: var(--sc-dark-3);
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  line-height: 22px;
  cursor: pointer;
}

.sc-btn:hover {
  background-color: var(--sc-light-3);
}

.sc-btn:active {
  background-color: var(--sc-light-2);
}

.sc-btn:focus {
  border: 1px solid var(--sc-primary-1);
}

.sc-btn.outlined {
  background: transparent;
  border: 4px solid var(--sc-dark-3);
}

.sc-btn.outlined:hover {
  background: var(--sc-dark-1);
  color: #ffffff;
}

.sc-btn.outlined.primary {
  color: var(--sc-primary-0);
  border-color: var(--sc-primary-0);
}

.sc-btn.outlined.primary:hover {
  background: var(--sc-primary-1);
  color: #ffffff;
}

.sc-btn.outlined.secondary {
  color: var(--sc-secondary-0);
  border-color: var(--sc-secondary-0);
}

.sc-btn.outlined.secondary:hover {
  background: var(--sc-secondary-1);
  color: #ffffff;
}

.sc-btn.outlined.danger {
  color: var(--sc-danger-0);
  border-color: var(--sc-danger-0);
}

.sc-btn.outlined.danger:hover {
  background: var(--sc-danger-1);
  color: #ffffff;
}

.sc-btn.outlined.warning {
  color: var(--sc-warning-0);
  border-color: var(--sc-warning-0);
}

.sc-btn.outlined.warning:hover {
  background: var(--sc-warning-1);
  color: #ffffff;
}

.sc-btn.outlined.success {
  color: var(--sc-success-0);
  border-color: var(--sc-success-0);
}

.sc-btn.outlined.success:hover {
  background: var(--sc-success-1);
  color: #ffffff;
}

.sc-btn.outlined.light {
  color: var(--sc-light-0);
  border-color: var(--sc-light-0);
}

.sc-btn.outlined.light:hover {
  background: var(--sc-light-1);
  color: #0f0f0f;
}

.sc-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 96px;
  background: var(--sc-dark-3);
  color: #ffffff;
}

.sc-navbar .brand {
  text-decoration: none;
  color: inherit;
}

.sc-navbar .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.sc-navbar .navlinks li a {
  text-decoration: none;
  color: inherit;
  margin: 0 24px;
}

.sc-navbar .navlinks li a:hover {
  opacity: 0.5;
}

.sc-navbar.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.sc-navbar.fixed.top {
  top: 0;
}

.sc-navbar.fixed.bottom {
  bottom: 0;
}

.sc-card {
  width: 480px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background: var(--sc-light-2);
}

.sc-card div {
  margin: 24px auto;
}

.sc-card div:first-of-type {
  margin-top: 0px;
}

.sc-card div:last-of-type {
  margin-bottom: 0px;
}

/* Backgrounds and Colors */
.sc-bg-primary {
  background-color: var(--sc-primary-0);
  color: #ffffff;
}

.sc-bg-primary.sc-btn:hover {
  background-color: var(--sc-primary-1);
}

.sc-bg-primary.sc-btn:active {
  background-color: var(--sc-primary-2);
}

.sc-bg-secondary {
  background-color: var(--sc-secondary-0);
  color: #ffffff;
}

.sc-bg-secondary.sc-btn:hover {
  background-color: var(--sc-secondary-1);
}

.sc-bg-secondary.sc-btn:active {
  background-color: var(--sc-secondary-2);
}

.sc-bg-light {
  background-color: var(--sc-light-0);
  color: #0f0f0f;
}

.sc-bg-light.sc-btn:hover {
  background-color: var(--sc-light-1);
}

.sc-bg-light.sc-btn:active {
  background-color: var(--sc-light-2);
}

.sc-bg-dark {
  background-color: var(--sc-dark-0);
  color: #ffffff;
}

.sc-bg-dark.sc-btn:hover {
  background-color: var(--sc-dark-1);
}

.sc-bg-dark.sc-btn:active {
  background-color: var(--sc-dark-2);
}

.sc-bg-danger {
  background-color: var(--sc-danger-0);
  color: #ffffff;
}

.sc-bg-danger.sc-btn:hover {
  background-color: var(--sc-danger-1);
}

.sc-bg-danger.sc-btn:active {
  background-color: var(--sc-danger-2);
}

.sc-bg-warning {
  background-color: var(--sc-warning-0);
  color: #ffffff;
}

.sc-bg-warning.sc-btn:hover {
  background-color: var(--sc-warning-1);
}

.sc-bg-warning.sc-btn:active {
  background-color: var(--sc-warning-2);
}

.sc-bg-success {
  background-color: var(--sc-success-0);
  color: #ffffff;
}

.sc-bg-success.sc-btn:hover {
  background-color: var(--sc-success-1);
}

.sc-bg-success.sc-btn:active {
  background-color: var(--sc-success-2);
}

.sc-bg-gradient {
  background: var(--sc-gradient-0);
  color: #ffffff;
}

.sc-bg-gradient.sc-btn:hover {
  background: var(--sc-gradient-1);
}

.sc-bg-gradient.sc-btn:active {
  background: var(--sc-gradient-2);
}

/* MOBILE RESPONSIVE CODE */
@media screen and (max-width: 800px) {
  .sc-card {
    width: 100%;
  }
  .sc-grid.c-1, .sc-grid.c-2, .sc-grid.c-3, .sc-grid.c-4, .sc-grid.c-5 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .sc-grid.mb-2 {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .sc-grid.mb-3 {
    -ms-grid-columns: 33.33% 33.34% 33.33%;
        grid-template-columns: 33.33% 33.34% 33.33%;
  }
  .sc-grid.mb-4 {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
}
/*# sourceMappingURL=sugarcubes.css.map */